<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class = "container py-4  text-center text-white">    

          <div class="card bg-info border rounded-2 ">
              <p class="card-text bg-secondary "  >
                  <%= form.label :Descripcion,  class:"form-label" %>
                  <%= form.text_field :description,  class:"form-control height: 100px"  %>

                  <%= form.label :Username, class:"form-label" %>
                  <%= form.text_field :username,  class:"form-control"  %>
              </p>
          </div>
    </div>

  <div class = "bt-3 text-center">
    <%= form.submit "Crear / Actualizar" ,  class:  "btn btn-sm btn-primary" %>
  </div>
<% end %>
