<p style="color: green"><%= notice %></p>

<% content_for :title, "Tweets" %>

       <div class="my-2 col-12 d-flex justify-content-between border rounded-4 ">

            <%= form_with url: tweets_path, method: :get do |form| %>
            <%= form.text_field :query_text, placeholder: "Buscador", value: params[:query_text], class: "border rounded-4 px-5"%>

              <div class= "btn btn-secondary  ">
                  <%= form.submit "Buscar", class:"btn btn-primary px-4" %>
              </div>
            <%end%>

            <div class="d-flex justify-content-end px-5 ">
                <%== pagy_bootstrap_nav(@pagy)%>
            </div>
      </div>

<table class="table table-striped mb-3">

  <thead >
    <tr  class= "bg-info border rounded-2  ">
      <th>ID</th>
      <th>Description</th>
      <th>UserName</th>
      <th>Acciones</th>
    </tr>
  </thead>

    <tbody class= "bg-white  border rounded-4">
        <% @tweets.each do |tweet| %>
          <tr>
              <td><%= tweet.id %></td>
              <td><%= tweet.description %></td>
               <td><%= tweet.username %></td>
               <td class="d-flex justify-content-between ">
                  <%= link_to "Ver  ", tweet, class: "btn btn-sm btn-success px-2"  %> 
                  <%= link_to "Editar", edit_tweet_path(tweet), class: "btn btn-sm btn-secondary"  %> 
                  <%= button_to "Eliminar", tweet, method: :delete,  class: "btn btn-sm btn-danger"  %> 
               </td>
          </tr>
        <% end %>
    </tbody>
</table>



<%# <div id="tweets"> %>
  <%# <% @tweets.each do |tweet| %> 
    <%# <%= render tweet %> 
    <%# <p> %>
      <%# <%= link_to "Show this tweet", tweet  %>
    <%# </p> %>
  <%# <% end  %>
<%# </div> %>

  <div class="my-3 col-12 d-flex justify-content-between  border rounded-2">
    <div class="btn  btn-secondary px-4">
        <%= link_to "New tweet", new_tweet_path, class:"btn btn-primary" %>
    </div>

    <div class = " d-flex justify-content-between px-5"  >
        <%== pagy_bootstrap_nav(@pagy) %>
    </div>
    

  </div> 