<p style="color: red " class = "text-center "><%= notice %></p>

<h3 class="my-5 text-center text-white">Revisar el tweet  <%= @tweet.id %>  </h3>



<div class = "row  text-center col border rounded-4  ">
    <%= render @tweet , class: "text-white"%>
</div>

        <div class = "d-flex justify-content-evenly  ">
            <%= link_to "Editar tweet", edit_tweet_path(@tweet), class: "btn btn-sm btn-success" %> 
            <%= link_to "Retornar", tweets_path, class: "btn btn-sm btn-secondary" %> 
            <%= button_to "Eliminar", @tweet, method: :delete, class: "btn btn-sm btn-danger" %>
        </div>