<p style="color: green"><%= notice %></p>

<h3 class="my-5 text-center">Revisar el tweet  <%= @tweet.id %>  </h3>



<div class = "row py-3  text-center">
    <%= render @tweet %>
</div>

<div class = "text-center">
  <div class = "py-3 ">
      <%= link_to "Editar tweet", edit_tweet_path(@tweet), class: "btn btn-sm btn-secondary" %> 
      <%= link_to "Retornar", tweets_path, class: "btn btn-sm btn-secondary" %> 
  </div>

  <div>
      <%= button_to "Eliminar", @tweet, method: :delete, class: "btn btn-sm btn-secondary" %>
  </div>

</div>
