<p style="color: green"><%= notice %></p>

<h3 class="my-5 text-center ">Revisar el tweet  <%= @tweet.id %>  </h3>



<div class = "row py-3  text-center col border  ">
    <%= render @tweet %>
</div>

        <div class = "d-flex justify-content-evenly  ">
            <%= link_to "Editar tweet", edit_tweet_path(@tweet), class: "btn btn-sm btn-success" %> 
            <%= link_to "Retornar", tweets_path, class: "btn btn-sm btn-secondary" %> 
            <%= button_to "Eliminar", @tweet, method: :delete, class: "btn btn-sm btn-danger" %>
        </div>